@import url(reset.css);

body{
	font:12px/1.6 Arial, Verdana, Tahoma, sans-serif;
	margin-top:0;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color:#fffee2;
}

.navbar a{
	color:#fe9b00;
	text-decoration:none;
	font-weight:bold;
	text-transform: uppercase;
}
p{
	margin:8px 0;
}
h2{
	font-size:18px;
	font-weight:bold;
	color:#090909;
	text-transform:uppercase;
	/*padding-left:28px;*/

	margin-bottom:11px;
}
.form-control{
	margin-top:15px;
}
.input{
	margin-top: 15px;
}
.tours-list{
	margin-top: 45px;
}
.tour-images{
	width: 85%;
	margin-left:85px;
	margin-right:85px;
}
.title{
	width: 250px;
	border-bottom-width: 2px; /* Толщина линии внизу */
    border-bottom-style: solid;
	color:#54697E;
}
.hotels-wrapper{
margin-left:45px;
margin-right: 35px;
}

.select-style{
	width: 100px;
}

.hotels-text{
	margin: 18px 0;
    line-height: 27px;
	font-size: 15px;
	color: #565c87;
	margin-left:160px;
}
/*Раздел карты и отзывов*/
.map{
	width:220px;
	float:left;
	margin-left:8%;
	/*	    width: 274px;
    float: left;
	display:inline-block;*/
}

.feedback{
	margin-left:60%;
	width:220px;
}/**/

.hotels{
	margin-left:7%;
	margin-right:5%;
	/*background-color: #bcd1f2;*/
}
.hotels p{
	width: 75%;
}

.hotels img{
margin-right: 25px;
margin-bottom: 15px;
}
.hotels a{
	margin-top:5px;
	margin-right: 25px;
	margin-bottom: 15px;
}
.hotels-content{
	display: inline-block;
	width:280px;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.hotels-content>a{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 9pt;
	text-decoration:none;
}
.hotels-content>a:hover{
	
}

.hotels-content img{
	float:left;
	position:relative;;
}

.active, a:hover{
	color:#090909;
}
.image-content{
	margin-left:45px;
}

#top-line{
	background:#090909;
	height:16px;
	
}

#wrapper{
	width:960px;
	margin:0 auto;
}

#header{
	padding:20px 0 16px 0;
	border-bottom:1px solid #c0c0c0;
	overflow:hidden;
}

#logo{
	width:183px;
	height:100px;
	float:left;
}

#menu{
	float:right;
	margin-top:30px;
	
}

#menu ul li{
	float:left;
	margin-left:63px;
	
}
#header-image{
	height:380px;
	width:960px;
	background:url(../sources/images/header-image.jpg) no-repeat;
	margin-top:20px;
	border-bottom:1px solid #c0c0c0;
	padding-bottom:20px;
	position:relative;
}

#black-box{
	width:320px;
	height:43px;
	background:#090909;
	text-transform:uppercase;
	font-weight:bold;
	font-size:15px;
	color:#6f6e6e; 
	position:absolute;
	left:35px;
	bottom:68px;
}
#black-box p{
	margin:14px 12px;
	line-height:1;
}
#black-box a{
	float:right; 
}
#black-box a:hover{
	color:#fe9b00;
}
#content{
	margin-top:20px;
	border-bottom:1px solid #c0c0c0;
	overflow:hidden;
	
	padding-bottom:30px;
}
.content-box{
	width:285px;
	float:left;
	margin-right:52px;
}

.content-box h2{
	font-size:18px;
	font-weight:bold;
	color:#54697E;
	text-transform:uppercase;
	border-bottom:5px solid #54697E;
	padding-bottom:3px;
	
	margin-bottom:16px;
}
.content-box ul li{
	background:url(../sources/images/check.png) 0 3px no-repeat;
	padding-left:20px;
	margin-bottom:12px;
	line-height:1.3;
}
.italic-text{
	font-style:italic;
	color:#090909;
	margin-top:20px;
}
#portfolio{
	margin-top:20px;
	padding-bottom:33px;
	border-bottom:1px solid #c0c0c0;
	overflow:hidden;
}

.portfolio-image{
	width:215px;
	height:135px;
	float:left;
	margin-right:33px;
	position:relative;
}
.portfolio-image a{
	position:absolute;
	right:0;
	bottom:0;
	color:#090909;
	display:block;
	background:#fe9b00;
	padding:4px 10px;
	line-height:1;
}

#portfolio-image, #content-box{
	margin-right:0;
}
#portfolio-images{
	margin-right:0;
}
#blog{
	width:670px;
	float:left;
	
}
#social{
	width:220px;
	float:right;
}
#bottom-row{
	margin-top:21px;
	overflow:hidden;
}
#social ul li{
	float:left;
	margin-right:12px;
	
}
#social ul{
	padding-left:2px;
}
.full {
    width: 100%;    
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #EDEFF1;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;	
}

.full {
    width: 100%;    
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #EDEFF1;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
	
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;	
}
/*Слайдер*/
#slider{/*положение слайдера*/
position: relative;
text-align: center;
top:10px;
}
#slider{/*положение*/
margin: 0 auto;
}

#slider article{/*все изображения справа друг от друга*/
width: 20%;
float: left;
} 

#slider .image{/*устанавливает общий размер блока с изображениями*/
	width: 50%;
	line-height: 0;
}

#overflow{/*скрывает все что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}
article img{/*размер изображений слайдера*/
width: 800px;
height: 400px;
}

#desctop:checked ~ #slider{/*размер всего слайдера*/
max-width: 960px;/*максимальная длинна*/
}
/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны то идет обращение к лейблу из блока id controls*/
#switch1:checked ~ #controls label:nth-child(5),
#switch1:checked ~ #controls label:nth-child(1),
#switch1:checked ~ #controls label:nth-child(2),
#switch1:checked ~ #controls label:nth-child(3),
#switch1:checked ~ #controls label:nth-child(4){
	background: url('prev.png') no-repeat;
	float: left;
	margin: 0 0 0 -84px;/*сдвиг влево*/
	display: block;
	height: 68px;
	width: 68px;
	
}

#switch1:checked ~ #controls label:nth-child(2),
#switch1:checked ~ #controls label:nth-child(3),
#switch1:checked ~ #controls label:nth-child(4),
#switch1:checked ~ #controls label:nth-child(5),
#switch1:checked ~ #controls label:nth-child(1){
	background: url('next.png') no-repeat;
	float: right;
	margin: 0 -84px 0 0;/*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 68px;
	
}

label, a {/*изменение на палец*/
	cursor: pointer;
}

.all input{/*скрывает чекбоксы*/
	display: none;
}
#margin1:checked ~ #slides .image{/*позиция изображения при активации переключателя*/
	margin-left: 0;
}
#margin2:checked ~ #slides .image{/*позиция изображения при активации переключателя*/
	margin-left: -100%;
}
#margin3:checked ~ #slides .image{/*позиция изображения при активации переключателя*/
	margin-left: -200%;
}
#margin4:checked ~ #slides .image{/*позиция изображения при активации переключателя*/
	margin-left: -300%;
}
#margin5:checked ~ #slides .image{/*позиция изображения при активации переключателя*/
	margin-left: -400%;
}


#switch1:checked ~ #slider .img{
	margin-left: 0;
}
#switch2:checked ~ #slider .img{
	margin-left: -100%;
}
#switch3:checked ~ #slider .img{
	margin-left: -200#;
}
#switch4:checked ~ #slider .img{
	margin-left: -300%;
}
#switch5:checked ~ #slider .img{
	margin-left: -400#;
}

#controls{/*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0 ;
	width: 100%;
	height: 50px;
}

#active label{/*стиль отдельного переключателя*/
	border-radius: 10px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #bbb;
}
#active{
	margin: 23% 0 0 ;
	text-align: center;
}

#active a:hover{/*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important;/*выполнение в любом случае*/
}

/*цвет активного переключателя*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #18a3dd;
	border-color:  #18a3dd !important;
}

#slides .image{/*анимация пролистывания*/
	transition: all 1000ms cubic-bezier(0.700,0.000,0.175, 1.000);
}

#controls label:hover{/*прозрачность стрелок при наведении*/
	opacity:0.6;
}

.carousel-position{
	margin-top: 1%;
	margin-left: 8%;
	width: 960px;
}
.item.active>img{
	width:100%;
width: 960px;
}
#controls label{
	transition:opacity 0.2s ease-out;
}
